body{
    margin: 0;
}

/*Intestazione*/
.logo {
    width: 200px;
    height: 200px;
    
}

header{
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    width: auto;
    height: 170px;
}

/*Sezione 1*/
#colore{
    font-size: 14px;
    color: darkgray;
}

#colore2{
    font-size: 14px;
    color: cyan;
}

#didascalia{
    font-size: 12px;
}

/*Sezione2*/
mark{
    background-color: yellow;
    color: black;
}

/*Sezione3*/
th{
    background-color: lightseagreen;
    width: 500px;
    text-align: left;
    color: white;

}

.colore3{
    background-color: lightskyblue;
    width: 500px;
    text-align: left;
    color: black;
}

.colore4{
    background-color: lightskyblue;
    width: 500px;
    text-align: left;
    color: black;
}
/*footer*/

h3{
    color: lightslategrey;
    font-size: 18px;
}

/*footer*/
    
.container {

    position: relative;
    text-align: left;
    color: white;
  }
  
  
 
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 22px;
  }
  
