body{
    margin: 0;
}

/*Intestazione*/
.logo {
    width: 200px;
    height: 200px;
    
}

header{
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    width: auto;
    height: 170px;
}

/*Sezione 1*/
#colore{
    font-size: 14px;
    color: darkgray;
}

#colore2{
    font-size: 14px;
    color: cyan;
}

#didascalia{
    font-size: 12px;
}